@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav{
    display: inline-block;
}

header ul{
    list-style-type: none;
}

header nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    font-size: 1.2rem;
    position: relative;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .home{
    height: 5rem;
}

section#home{
    margin-top: 3rem;
}

section#home h1{
    text-align: center;
    margin-bottom: 2rem;
}

ul.sub-menu{
    visibility: hidden;
    opacity: 0;
    display: none;

    position: absolute;
    padding: 12px 16px;
    z-index: 1;

    border-radius: 0.32rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    background-color: white;
}

ul:hover ul.sub-menu{
    visibility: visible;
    opacity: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card{
    margin: 10px;
}

.card-container .card{
    width: 20rem;
    display: inline-block;
}


/* Util Classes*/

/*button*/
.btn{
    border-radius: 1rem;
    padding: 0.85rem;
    background: gray;
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
}

/*table*/
.tbl{
    border-collapse: collapse;
    border: 1px solid #888; 
}

.tbl thead, .tbl tfoot{
    border: 1px solid #888; 
}

.tbl td, .tbl th{
    padding: 1rem;
}
.tbl th{
    font-weight: bold;
}
.tbl-striped tr:nth-child(odd){
    background-color: white;
}
.tbl-striped tr:nth-child(even){
    background-color: #ddd;
}
.tbl-striped tr:nth-child(1){
    background-color: white;
}



/*container*/
.container{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*card*/
.card{
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img{
    width: 100%;
    border-radius: 1rem;
}

/*display*/
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.display-inline{
    display: inline;
}
.display-none{
    display: none;
}

/*banner*/

.banner{
    display: block;
    width: 100%;
}

.banner-fluid{
    display: block;
    margin: auto;
    width: 100vw;
}

/*border-radius*/
.border-radius-1{
    border-radius: 1rem;
}
.border-radius-2{
    border-radius: 2rem;
}
.border-radius-3{
    border-radius: 3rem;
}
.border-radius-4{
    border-radius: 4rem;
}


/*text*/
.text-start{
    text-align: left;
}
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-bold{
    font-weight: bold;
}
.text-italic{
    font-style: italic;
}
.text-decoration-none{
    text-decoration: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-lowercase{
    text-transform: lowercase;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-secondary{
    color: grey;
}


/*margin*/
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.mx-1{
    margin-left: 1rem;
    margin-right: 1rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}
.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mx-3{
    margin-left: 3rem;
    margin-right: 3rem;
}
.my-3{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.mx-4{
    margin-left: 4rem;
    margin-right: 4rem;
}
.my-4{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}

.mr-1{
    margin-right: 1rem;
}
.mr-2{
    margin-right: 2rem;
}
.mr-3{
    margin-right: 3rem;
}
.mr-4{
    margin-right: 4rem;
}

.mt-1{
    margin-top: 1rem;
}
.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}
.mt-4{
    margin-top: 4rem;
}

.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}

/*padding*/
.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 2rem;
}
.pl-3{
    padding-left: 3rem;
}
.pl-4{
    padding-left: 4rem;
}

.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 2rem;
}
.pr-3{
    padding-right: 3rem;
}
.mr-4{
    padding-right: 4rem;
}

.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 2rem;
}
.pt-3{
    padding-top: 3rem;
}
.pt-4{
    padding-top: 4rem;
}

.pb-1{
    padding-bottom: 1rem;
}
.pb-2{
    padding-bottom: 2rem;
}
.pb-3{
    padding-bottom: 3rem;
}
.pb-4{
    padding-bottom: 4rem;
}